#description {
    width: 50%;
    display: block;
    margin: auto;
}

p {
    width: 100%;
}

table {
    width: 50%;
    margin: 1em auto;
    font-family: "Times", Georgia, Serif;
    font-size: 1.2em;
    border-collapse: collapse;
}

table .highlight {
    background-color: #eee;
}

td {
    padding-top: .3em;
    padding-bottom: .3em;
    text-align: center;
}

table .separator {
    border-style: solid;
    border-left-style: none;
    border-right-style: none;
    border-color: rgba(0, 0, 0, .4);
    border-width: 1px;
}

table .separator td {
    padding-top: .4em;
    padding-bottom: .4em;
}
