form {
    margin: auto;
    margin-top: 1em;
    margin-bottom: 9em;
    width: 45%;
}

label {
    margin: auto;
    margin-bottom: 1em;
    width: 45%;
}

#lbl-name {
    float: left;
}

#lbl-email {
    float: right;
}

#lbl-message {
    float: none;
    margin: 4em;
}

span {
    width: 100%;
    display: block;
    font-size: 1.2em;
    font-weight: bold;
}

input {
    width: 100%;
    margin-top: 4px;
    border: 1px solid #7093ff;
    border-left: 4px solid #7093ff;
    padding: 7px;
    font-family: "Times New Roman", Georgia, Serif;
    font-size: 1.2em;
}

input:focus {
    border-left: 1px solid #7093ff;
    box-shadow: 0 0 10px #7093ff;
}

textarea {
    margin-top: 4px;
    border: 1px solid #7093ff;
    font-family: "Times New Roman", Georgia, Serif;
    font-size: 1.2em;
}

textarea:focus {
    box-shadow: 0 0 10px #7093ff;
}
