html {
    margin-top: 2em;
}

#left-border, #right-border {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 20%;
    border-width: .25em;
    border-color: #3b658a;
    background-color: #6283a1;
}

#left-border {
    left: 0;
    border-right-style: solid;
    box-shadow: inset -2em 0 3em -2em #3b658a;
}

#right-border {
    right: 0;
    border-left-style: solid;
    box-shadow: inset 2em 0 3em -2em #3b658a;
}

header {
    width: 60%;
    margin: auto;
    text-align: center;
    padding-bottom: 12px;
    border-bottom-style: solid;
    border-color: rgba(0, 0, 0, .4);
    background-image: url("./images/construction.jpg");
    background-repeat: no-repeat;
}

header h1 {
    width: 100%;
    margin: auto;
    font-family: "Droid Derif", "Times", serif;
    margin-bottom: .5em;
}

header h1 a {
    text-decoration: none;
    font-size: 1.5em;
    color: black;
}

header nav {
    width: 100%;
    margin: auto;
}

header nav ul {
    text-align: center;
    padding: 0;
    margin: 0;
}


header nav li {
    display: inline-block;
    border-right: 1px solid #000;
    /* makes up for glitch where extra space is added to the left of the list item that I coudln't fix */
    padding-right: 4.5px;
}

header nav li:last-child {
    border-right: none;
}

header nav li a {
    font-size: 1.8em;
    color: #000;
    text-decoration: none;
    padding: 0 8px 4px 8px;
    outline: none; /* fixes Firefox's dotted outline on clicked-on anchors */
}

@keyframes nav_hover {
    from { color: #000; }
    to { color: #b0b0b0; }
}

header nav li a:hover:not(.active) {
    animation-name: nav_hover;
    animation-duration: .4s;
    animation-fill-mode: forwards;
}

@keyframes nav_fade_in {
    from { background-color: white; }
    to { background-color: #4caf50; }
}

header nav li a.active {
    color: white;
    -moz-border-radius: 4px;
    border-radius: 4px;
    animation-name: nav_fade_in;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}

p {
    margin-left: auto;
    margin-right: auto;
    font-size: 1.4em;
    width: 50%;
}

footer {
    margin: auto;
    width: 60%;
    height: 3.5em;
    border-top-style: solid;
    border-color: rgba(0, 0, 0, .4);
}

footer p {
    width: 25%;
    font-size: 1.2em;
    margin: 0;
    float: left;
    padding-top: 18px;
    margin-left: 15px;
}

#img-linkedin {
    width: 32px;
    height: 32px;
    padding: 0;
    float: left;
    padding-top: 14px;
}

footer nav {
    padding: 0;
    width: 60%;
    float: right;
    margin: 0;
    text-align: right;
    margin-right: 15px;
}

footer nav li {
    font-size: 1.3em;
    display: inline;
    border-right: 1px solid #000;
    /* makes up for glitch where extra space is added to the left of the list item that I couldn't fix */
    padding-right: 4.5px;
}

footer nav li:last-child {
    border-right: none;
    padding-right: 0;
}

footer nav li a {
    color: #000;
    text-decoration: none;
    padding: 0 8px 4px 8px;
    outline: none; /* fixes Firefox's dotted outline on clicked-on anchors */
}
