#projects {
    width: 45%;
    margin: auto;
}

.project {
    list-style-type: none;
    width: 100%;
    margin: 1.3em auto;
    margin-left: -1em;
}

.project:after {
    content: "";
    height: 1px;
    background: linear-gradient(to right,  rgba(0,0,0,0) 0%,rgba(147,147,147,1) 50%,rgba(0,0,0,0) 100%);
    display: block;
}

.title {
    margin: 0 auto;
    display: inline-block;
}

.img-github {
    width: 100px;
    height: 30px;
    float: right;
    margin-top: -.2em;
}

.img-project-icon {
    width: 60px;
    height: 60px;
    float: left;
    margin: 0;
    padding: 0;
    padding-top: 8px;
    padding-right: 8px;
}

.description {
    font-size: 1.2em;
    width: 100%;
    margin: 0;
    margin-bottom: .3em;
    padding: 0;
}

.technologies {
    list-style-type: none;
    font-size: 1.2em;
    float: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
    margin-bottom: .3em;
    padding: 0;
    width: 100%;
}

.technologies li {
    padding: 0 5px;
    background-color: #e5e5e5;
    display: inline-block;
    margin-left: 0;
}
