#left-border, #right-border {
    display: none;
}

html {
    overflow-x: hidden;
    background: #eee;
}

header {
    width: 100%;
    margin: auto;
    margin-top: 1em;
    text-align: left;
    padding-bottom: 10px;
    border-bottom-style: solid;
    border-color: rgba(0, 0, 0, .4);
}

header h1 {
    width: auto%;
    margin: 0;
    margin-bottom: .2em;
    display: inline;
}

header h1 a {
    text-decoration: none;
    font-family: "Droid Serif", "Times", serif;
    font-size: .9em;
    color: black;
}

.nav-menu-toggle {
    border: solid 1px #ddd;
    background: #ccc;
    height: 35px;
    width: 35px;
    display: block;
    float: right;
    text-align: center;
    cursor: pointer;
    z-index: 999;
}

.nav-menu-toggle .toggle {
    color: #fff;
    line-height: 35px;
}

.nav-menu-wrap {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 65%;
    -webkit-transition: all 450ms ease-in-out;
    -moz-transition: all 450ms ease-in-out;
    transition: all 450ms ease-in-out;
    z-index: 3;
    -moz-transform: translate3d(-100%, 0px, 0px) rotate(90deg);
    -webkit-transform: translate3d(-100%, 0px, 0px) rotate(90deg);
    -ms-transform: translate(-100%, 0%) rotate(90deg);
    -o-transform: translate(-100%, 0%) rotate(90deg);
    transform: translate3d(-100%, 0px, 0px) rotate(90deg);
    -moz-transform-origin: 0% 0%;
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
}

.nav-menu-wrap.active {
    -moz-transform: translate3d(0%, 0px, 0px) rotate(0deg);
    -webkit-transform: translate3d(0%, 0px, 0px) rotate(0deg);
    -ms-transform: translate(0%, 0%) rotate(0deg);
    -o-transform: translate(0%, 0%) rotate(0deg);
    transform: translate3d(0%, 0px, 0px) rotate(0deg);
}

.nav-menu-background {
    display: initial;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .75);
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in-out;
    -moz-transition: opacity 400ms ease-in-out;
    -o-transition: opacity 400ms ease-in-out;
    transition: opacity 400ms ease-in-out;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden; 
    -moz-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    z-index: -1;
}

.nav-menu-background.active {
    opacity: 1;
    z-index: 2;
}
 
.menu {
    margin: 0;
    padding: 0;
    height: auto;
}

.nav-menu {
    position: relative;
    top: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background: #eee;
}

.nav-menu li {
    font-size: 28px;
    line-height: 50px;
    list-style-type: none;
    display: block;
    position: relative;
    padding: 0;
    border-right: 0;
    border-top: solid 1px #ccc;
}

.nav-menu li > a {
    display: block;
    color: #333;
    position: relative;
    -moz-transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
    font-size: inherit;
}

.nav-menu li .active {
    color: white;
    background: #4caf50;
}

.nav-menu .close {
    cursor: pointer;
    background: #ccc;
    -moz-transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}

.nav-menu .close i {
    float: right;
    padding-right: 5px;
}

p {
    font-size: 1.2em;
    width: 100%;
}

p a {
    text-decoration: none;
    cursor: pointer;
    color: darkblue;
}

p a:visited {
    color: purple;
}

footer {
    margin: auto;
    width: 100%;
    height: 5em;
    border-top-style: none;
}

#scroll-to-top {
    display: block;
    width: 100%;
    height: 2em;
    background-color: #122040;
    margin: 0;
    padding: 0;
}

#scroll-to-top p {
    width: 100%;
    color: white;
    text-align: center;
}

footer p {
    width: 60%;
    font-size: 1em;
    vertical-align: text-bottom;
    float: left;
    margin: 0;
    margin-top: 10px;
    margin-left: 5px;
}

#img-linkedin {
    float: right;
    width: 32px;
    height: 32px;
    margin: 0;
    margin-top: 6px;
    margin-left: 6px;
}

#img-github {
    float: right;
    width: 32px;
    height: 32px;
    margin: 0;
    margin-top: 6px;
    margin-left: 6px;
}

footer nav {
    display: none;
}
