#projects {
    width: 98%;
    margin: 0;
    padding: 0;
}

.project {
    list-style-type: none;
    width: 100%;
    margin: 1em auto;
    padding: 0;
}

.project:after {
    content: "";
    height: 1px;
    background: linear-gradient(to right,  rgba(0,0,0,0) 0%,rgba(147,147,147,1) 50%,rgba(0,0,0,0) 100%);
    display: block;
}

.title {
    margin: 0 auto;
    display: block;
}

.img-github {
    width: 100px;
    height: 30px;
    float: right;
    padding: 0;
    margin: 0;
    display: none;
}

.img-project-icon {
    width: 60px;
    height: 60px;
    float: left;
    margin: 0;
    padding: 0;
    padding-top: 8px;
    padding-right: 8px;
    display: block;
}

.description {
    font-size: 1.3em;
    width: 100%;
    margin: 0;
    margin-bottom: .3em;
    padding: 0;
}

.technologies {
    list-style-type: none;
    font-size: 1.2em;
    display: block;
    justify-content: initial;
    margin: 0;
    margin-bottom: .3em;
    padding: 0;
    width: 100%;
}

.technologies li {
    padding: 0 4px;
    margin: .1em auto;
    background-color: #e5e5e5;
    display: inline-block;
}
